@import url("https://fonts.googleapis.com/css?family=Poppins");

:root {
  --theme-color: #000000;
  --shadow-color: #000000;
  --bgshadow-color: rgb(0, 0, 0);
  --base-color: none;
}

body {
  top: 50%;
  font-family: Poppins;
  color: #4c4c4c;
  background-image: url("/assets/imgs/bg/bglight.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  transition: 0.5s;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 6px;
  will-change: transform;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme-color);
  border-radius: 10px;
  will-change: transform;
}

a {
  color: #000;
  text-decoration: none;
}

.footer {
  transition: 0.3s;
  color: #000000;
  text-decoration: none;
}

.footer:hover {
  color: var(--theme-color);
  transition: 0.3s;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 430px;
  height: 22px;
  border-radius: 20px;
  padding: 0.9%;
  position: fixed;
  top: 5.5vh;
  z-index: 10000;
  left: 50%;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(30px);
  text-align: center;
  align-content: center;
  align-items: center;
  transform: translate(-50%, -4vh);
}

.navbarAlign {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}

.navbarLink {
  height: 26px;
  border-radius: 20px;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  cursor: pointer;
  justify-content: flex-end;
  transition: 0.3s;
  padding: 5px;
}

.navbarLink:hover {
  box-shadow: 0 0 15px 1px var(--shadow-color), 0 0 1px 1px var(--theme-color);
  transition: 0.3s;
  background-color: none;
  transform: translateY(-3px);
}

.navbarLink img {
  width: 26px;
  display: inline-flex;
  margin-left: 1px;
  height: auto;
  transition: 1s;
  filter: invert(100%);
}

.navbarLink p {
  vertical-align: top;
  display: inline-flex;
  will-change: auto;
  color: #000;
  margin: 0;
  margin-right: 1px;
}

.navbarLink:hover img {
  animation: rotate 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gonav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 610px;
  height: 22px;
  border-radius: 20px;
  padding: 9px;
  position: fixed;
  top: 5.5vh;
  z-index: 10000;
  left: 50%;
  background: var(--base-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(5px);
  text-align: center;
  align-content: center;
  align-items: center;
  transform: translate(-50%, -4vh);
}

.gonavAlign {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
}

.gonavLink {
  height: 26px;
  border-radius: 20px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  justify-content: flex-end;
  transition: 0.3s;
  padding: 5px;
}

.gonavLink:hover {
  transition: 0.3s;
  transform: translateY(-3px);
}

.gonavLink img {
  filter: invert(100%);
  width: 26px;
  display: inline-flex;
  margin-left: -6px;
  margin-right: -6px;
  height: auto;
  transition: 1s;
  margin-top: 4px
}


.gonavLink:hover img {
  animation: rotate 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.setting {
  width: 450px;
  padding: 20px;
  text-align: left;
  border: 1px solid rgba(2, 2, 2, 0.25);
  border-radius: 20px;
  background-color: var(--base-color);
  backdrop-filter: blur(20px);
  transition: 0.2s ease-in-out;
  animation: fadeIn 1s;
}

.setting p {
  margin-bottom: 10px;
  margin-top: -6px;
  font-size: 15px;
  color: rgb(92, 92, 92);
}

.setting h1,
h3 {
  color: #000;
  margin-top: 0px;
  font-size: 22px;
}

.setting:hover {
  border: 1px solid var(--theme-color);
  transform: translateY(-5px);
  transition: 0.2s ease-in-out;
}

.settingcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3vw;
  margin-top: 190px;
}

/* The switch - the box around the slider */
.switch {
  top: -2%;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  transition: 0.2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: white;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #32cd32;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

button {
  appearance: none;
  background-color: rgb(0, 0, 0);
  border: 0.125em solid rgb(34, 34, 34);
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  min-height: 3.75em;
  min-width: 48%;
  outline: none;
  margin-left: 1%;
  margin-bottom: 2%;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

button:hover {
  color: #000;
  background: none;
  backdrop-filter: blur(20px);
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
  border: 1px solid var(--shadow-color);
}

.setting-input {
  align-items: center;
  text-align: center;
  margin-bottom: 8px;
}

.setting-input__input {
  font-family: inherit;
  font-size: 16px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  width: 90%;
  height: 24px;
  opacity: 1;
  text-align: center;
}
.setting-input__input:focus {
  outline: none;
}

.settingsdropdown {
  background-color: #000;
  border: none;
  color: #fff;
  align-items: center;
  height: 46px;
  padding: 0.7rem 1rem;
  border-radius: 25px;
  display: block;
  margin-bottom: 5px;
  margin-left: 1.4%;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.settingsdropdown:focus {
  outline: none;
}

.app {
  width: 155px;
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  transition: 0.3s ease-in-out;
}

.app img {
  border-radius: 20px;
  min-width: 155px;
  max-width: 150px;
  width: 150px;
  transition: 0.5s;
}

.app p {
  margin-bottom: -5px;
  margin-top: 2px;
  font-size: 15px;
  color: #000000;
}

.app:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--theme-color);
  transform: scale(1.06);
  cursor: pointer;
  transition: 0.3s;
}

.appcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.3vw;
  margin-top: 30px;
}

.shortcuts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: fixed;
  top: 66vh;
  z-index: 10000;
  left: 50%;
  text-align: center;
  align-content: center;
  align-items: center;
  transform: translate(-50%, -4vh);
}

.shortcut {
  width: 28px;
  height: 26px;
  padding: 3px;
  border-radius: 10px;
  background: var(--base-color);
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  cursor: pointer;
  justify-content: center;
  transition: 0.5s;
  border: 1px solid var(--theme-color);
}

.shortcut:hover {
  box-shadow: 0 0 15px 1px var(--shadow-color), 0 0 1px 1px var(--theme-color);
  transition: 0.5s;
}

.shortcut img {
  width: 26px;
  display: block;
  margin-left: 1px;
  height: auto;
  transition: 1s;
}

.shortcut img:hover {
  transition: 1s;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
#upload-img,
#reset-img {
  top: 20px;
  cursor: pointer;
  z-index: 10;
}
#upload-img {
  right: 20px;
}
#reset-img {
  right: 80px;
}
#file-input {
  display: none;
}

/*------ Style 1 ------*/
.style1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.style1::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}
.style1::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
.style1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.color-picker {
  position: relative;
}

.color-palette {
  display: none;
  position: absolute;
  /* Styling for color palette */
}

.color-option {
  width: 20px;
  height: 20px;
  /* Styling for color options */
}

.center {
  position: relative;
  margin-top: 40%;
  margin-bottom: 50%;
}

.searchbar {
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: #ffffff;
  display: flex;
  z-index: 3;
  height: 44px;
  background: #dbdbdb;
  backdrop-filter: blur(40px);
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  min-width: 200px;
  width: auto;
  max-width: 100px;
  transition: 0.5s;
  margin-top: 7px;
}

.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchbar-left {
  font-size: 14px;
  font-family: Poppins;
  color: #202124;
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-icon-wrapper {
  margin: auto;
}

.search-icon {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  line-height: 20px;
  width: 20px;
}

.searchbar-icon {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.searchbar-center {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.searchbar-input-spacer {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 35px;
  font-size: 16px;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--theme-color);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  max-width: 100%;
  width: 100%;
}

.searchbar-right {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.searchbar-clear-icon {
  margin-right: 12px;
}

.card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 130px;
  margin: auto;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 60px var(--shadow-color);
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 240px;
  height: 120px;
  z-index: 2;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  outline: 2px;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--theme-color);
  opacity: 1;
  filter: blur(60px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

/* ------ Animation ------ */
@keyframes keyframes-fill {
  0% {
    transform: rotate(-360deg) scale(0);
    opacity: 0;
  }

  75% {
    transform: rotate(25deg);
  }
}

.suggestion-list {
  position: fixed;
  z-index: 1111;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--base-color);
  color: var(--theme-color);
  border-radius: 10px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.suggestion-list div {
  border-radius: 20px;
  margin-left: 0.6vw;
  margin-right: 0.6vw;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.suggestion-list div:hover {
  box-shadow: 0 0 15px 1px var(--shadow-color), 0 0 1px 1px var(--theme-color);
  transition: 0.3s;
}

#customCloakinput {
  display: none;
}



/* Setting Tab Css */

.contain {
  position: absolute;
  z-index: 100;
  top: 90px;  
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain .tabs_wrapper {
  display: flex;
  align-items: center;
  background: var(--base-color);
  border-radius: 50px;
  padding: 10px;
  position: relative;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(30px);
}
.contain .tabs_wrapper .tab {
  border-radius: 50px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  user-select: none;
  transition: all 0.4s;
  cursor: pointer;
}
.contain .tabs_wrapper .tab .material-icons {
  vertical-align: middle;
  margin-right: 3px;
  position: relative;
}
.contain .tabs_wrapper .tab .title {
  vertical-align: middle;
}
.contain .tabs_wrapper input {
  display: none;
}
.contain .tabs_wrapper .shape {
  width: 120px;
  height: 40px;
  background: linear-gradient(45deg, var(--theme-color) 0%, var(--theme-color) 4%);
  border-radius: 50px;
  position: absolute;
  top: 10px;
  left: 12px;
  opacity: 0.3;
  pointer-events: none;
  transition: all 0.5s;
}
.contain .tabs_wrapper #tab_1:checked ~ .shape {
  left: 10px;
}
.contain .tabs_wrapper #tab_1:checked ~ .tab[for="tab_1"] {
  z-index: 1;
  color: var(--theme-color);
}
.contain .tabs_wrapper #tab_2:checked ~ .shape {
  left: calc(10px + 120px);
}
.contain .tabs_wrapper #tab_2:checked ~ .tab[for="tab_2"] {
  z-index: 1;
  color: var(--theme-color);
}
.contain .tabs_wrapper #tab_3:checked ~ .shape {
  left: calc(10px + 120px * 2);
}
.contain .tabs_wrapper #tab_3:checked ~ .tab[for="tab_3"] {
  z-index: 1;
  color: var(--theme-color);
}
.contain .tabs_wrapper #tab_4:checked ~ .shape {
  left: calc(10px + 120px * 3);
}
.contain .tabs_wrapper #tab_4:checked ~ .tab[for="tab_4"] {
  z-index: 1;
  color: var(--theme-color);
}